<h1>Cart</h1>

<div class="cart" id="cart">
{{#if courses.length}}
	<table>
		<thead>
			<tr>
				<td>Title</td>
				<td>Count</td>
				<td>Actions</td>
			</tr>
		</thead>
		<tbody>
			{{#each courses}}
			<tr>
				<td>{{title}}</td>
				<td>{{count}}</td>
				<td>
					<button class="btn btn-small cart-remove-btn" data-id={{id}} data-token={{@root.csrf}}>Remove</button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<p>
		<strong>
			Price:
		</strong>
		<span class="price">
			{{price}}
		</span>
	</p>
	<form action="/orders" method="POST">
		<input type="hidden" name="_csrf" value="{{csrf}}">
		<button class="btn" type="submit">Order</button>
	</form>
{{else}}
<p>Cart is empty</p>
{{/if}}
</div>